---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import "../styles/polityka.css";
const contact = await getCollection("contact");
---

<Layout
  title="Polityka Prywatności"
  description="Przeczytaj naszą Politykę Prywatności, aby dowiedzieć się, w jaki sposób gromadzimy, wykorzystujemy i chronimy Twoje dane osobowe. Twoje bezpieczeństwo jest dla nas najważniejsze."
>
  <section id="policy">
    <h1>Polityka Prywatności</h1>
    <p>
      Niniejsza Polityka Prywatności i Warunki Korzystania określają zasady korzystania ze
      strony internetowej Sportuś, dotyczącej zajęć sportowych dla dzieci.
    </p>
    <h2>1. Administrator danych</h2>
    <p>
      Administratorem danych osobowych jest Sportuś Krzysztof Iwanowski z siedzibą w
      Gdańsku.NIP 743200079
    </p>
    <h2>2. Cel i zakres zbierania danych</h2>
    <p>
      Przetwarzamy dane osobowe Użytkowników wyłącznie w celu obsługi zapytań przesłanych
      przez formularz kontaktowy. Zakres przetwarzanych danych obejmuje:
      <ul>
        <li>imię i nazwisko</li>
        <li>adres e-mail</li>
        <li>numer telefonu</li>
        <li>treść wiadomości</li>
      </ul>
    </p>
    <p>
      Nasza strona internetowa wykorzystuje wyłącznie niezbędne pliki cookies, które są
      konieczne do prawidłowego funkcjonowania strony. Nie używamy żadnych plików cookies
      służących do śledzenia lub profilowania użytkowników.
    </p>
    <h2>3. Podstawa prawna przetwarzania danych</h2>
    <p>
      Podstawą prawną przetwarzania danych jest zgoda Użytkownika wyrażona poprzez
      dobrowolne przesłanie formularza kontaktowego (art. 6 ust. 1 lit. a RODO).
    </p>
    <h2>4. Okres przechowywania danych</h2>
    <p>
      Dane osobowe przechowywane są przez okres niezbędny do udzielenia odpowiedzi na
      zapytanie, nie dłużej jednak niż przez 30 dni od daty otrzymania wiadomości. Po tym
      czasie dane są usuwane.
    </p>
    <h2>5.Prawa Użytkowników</h2>
    <p>Użytkownik ma prawo do:</p>
    <ul>
      <li>dostępu do swoich danych osobowych</li>
      <li>sprostowania danych</li>
      <li>usunięcia danych</li>
      <li>ograniczenia przetwarzania danych</li>
      <li>cofnięcia zgody na przetwarzanie danych</li>
    </ul>
    <h2>6. Udostępnianie danych</h2>
    <p>
      Dane osobowe nie są udostępniane podmiotom trzecim, chyba że następuje to w związku
      z obowiązkiem wynikającym z przepisów prawa lub w celu realizacji usług niezbędnych
      do funkcjonowania strony.
      <h2>7. Bezpieczeństwo Strony</h2>
      <p>
        Dokładamy wszelkich starań, aby nasza strona internetowa była bezpieczna i wolna
        od zagrożeń. Nie możemy jednak zagwarantować pełnego bezpieczeństwa ani ciągłego,
        nieprzerwanego dostępu do strony.
      </p>
      <h2>8. Wyłączenie Odpowiedzialności</h2>
      <p>
        <strong>Treści na Stronie:</strong> Informacje zamieszczone na naszej stronie mają
        charakter ogólny i informacyjny. Nie ponosimy odpowiedzialności za ich aktualność,
        dokładność ani kompletność.
      </p>
      <p>
        <strong>Linki Zewnętrzne</strong>awierać linki do innych stron internetowych. Nie
        mamy kontroli nad ich treścią i nie ponosimy odpowiedzialności za materiały na
        nich zamieszczone.
      </p>
      <p>
        <strong>Szkody i Straty</strong>: Nie ponosimy odpowiedzialności za jakiekolwiek
        szkody lub straty wynikłe z korzystania z naszej strony internetowej, w tym za
        ewentualne wirusy lub inne szkodliwe oprogramowanie.
      </p>
      <h2>9. Zmiany w Polityce Prywatności i Warunkach Korzystania</h2>
      <p>
        Zastrzegamy sobie prawo do wprowadzania zmian w niniejszej Polityce Prywatności i
        Warunkach Korzystania. Wszelkie zmiany będą publikowane na tej stronie i wchodzą w
        życie z dniem ich zamieszczenia.
      </p>
      <h2>10. Kontakt</h2>
      <p>
        Jeśli mają Państwo pytania dotyczące naszej strony internetowej, prosimy o
        kontakt:
      </p>
      <ul>
        <li>
          E-mail: <a href=`mailto:${contact[0].data.email}`>{contact[0].data.email}</a>
        </li>
        <li>
          Telefon: <a href=`tel:${contact[0].data.phone}`>{contact[0].data.phone}</a>
        </li>
        <li>
          Dane firmy: <a
            href=`${contact[0].data.company}`
            target="_blank"
            rel="noopener noreferrer">Ogólnopolska Wyszukiwarka Gospodarcza</a
          >
        </li>
      </ul>
    </p>
  </section>
</Layout>
