---
import { Image } from "astro:assets";
import "./news.css";

const { news } = Astro.props;
---

<li class="cs-item">
  <a href={`/aktualnosci/${news.slug}`} class="cs-link">
    <div class="cs-picture-group">
      <!-- <Image
        class="cs-picture"
        alt={news.image.alt}
        src={news.image}
        width={news.image.width}
        height={news.image.height}
      /> -->
      <svg
        class="cs-mask"
        width="369"
        height="249"
        viewBox="0 0 369 249"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
      >
        <g clip-path="url(#clip0_3335_6487)">
          <path
            d="M369 249V105.57H364.72L360.02 177.28L350.1 221.22L338.48 233.69L294.54 231.71L227.65 231.14L159.67 232.48L102.92 238.23L43.73 243.79L31 238.99L24.33 229L8.32 177.28L5.69 111.52L0 110.67V249H369Z"
            fill="var(--maskBG)"></path>
          <path
            d="M0 0H369V114.64L364.64 113.67L364.72 77.5L356.91 50.01L348.69 27.11L329.08 10.47L296.81 4.93L28.9 9.69L21.28 14.57L15.61 25.63L4 124.51H0V0Z"
            fill="var(--maskBG)"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M366 4H4V245H366V4ZM31 239C-4.86 193.71 3.34 85.57 14 31C17.78 11.59 25.37 8.61 42 8C107.73 5.59 193.2 4.66 300 5C325.79 5.1 347.16 14.21 356 43C370.28 89.64 364.08 137.32 358.09 183.32L358 184C356.03 199.42 352.41 212.38 347 224C343.96 230.49 339.5 233.58 333 233C234.49 224.39 139.41 232.28 42 244C39.88 244.27 37.99 243.86 36 243C34.01 242.14 32.41 240.79 31 239Z"
            fill="var(--maskBG)"></path>
          <path
            d="M13.9996 30.9899C9.37956 54.6199 5.22956 88.2999 4.90956 122.57C4.49956 167.43 10.6696 213.31 30.9996 238.99C32.4096 240.78 34.0096 242.13 35.9996 242.99C37.9896 243.85 39.8796 244.26 41.9996 243.99C139.42 232.27 234.49 224.38 333 232.99C339.5 233.57 343.96 230.48 347 223.99C352.41 212.37 356.02 199.41 358 183.99C364.01 137.78 370.35 89.8599 356 42.9899C347.16 14.1999 325.79 5.08989 300 4.98989C193.2 4.64989 107.73 5.57989 41.9996 7.98989C25.3696 8.59989 17.7796 11.5799 13.9996 30.9899Z"
            stroke="var(--maskBorder)"
            stroke-width="8"></path>
        </g>
        <defs>
          <clipPath id="clip0_3335_6487-1516-1540">
            <rect width="369" height="249" fill="var(--maskBG)"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
    <div class="cs-info">
      <div class="cs-flex">
        <span class="cs-date">
          <svg
            class="cs-icon"
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 19.5543C12.1978 19.5543 12.3911 19.4956 12.5556 19.3857C12.72 19.2758 12.8482 19.1197 12.9239 18.9369C12.9996 18.7542 13.0194 18.5532 12.9808 18.3592C12.9422 18.1652 12.847 17.987 12.7071 17.8472C12.5673 17.7073 12.3891 17.6121 12.1951 17.5735C12.0011 17.5349 11.8 17.5547 11.6173 17.6304C11.4346 17.7061 11.2784 17.8342 11.1685 17.9987C11.0586 18.1631 11 18.3565 11 18.5543C11 18.8195 11.1054 19.0738 11.2929 19.2614C11.4804 19.4489 11.7348 19.5543 12 19.5543ZM17 19.5543C17.1978 19.5543 17.3911 19.4956 17.5556 19.3857C17.72 19.2758 17.8482 19.1197 17.9239 18.9369C17.9996 18.7542 18.0194 18.5532 17.9808 18.3592C17.9422 18.1652 17.847 17.987 17.7071 17.8472C17.5673 17.7073 17.3891 17.6121 17.1951 17.5735C17.0011 17.5349 16.8 17.5547 16.6173 17.6304C16.4346 17.7061 16.2784 17.8342 16.1685 17.9987C16.0586 18.1631 16 18.3565 16 18.5543C16 18.8195 16.1054 19.0738 16.2929 19.2614C16.4804 19.4489 16.7348 19.5543 17 19.5543ZM17 15.5543C17.1978 15.5543 17.3911 15.4956 17.5556 15.3857C17.72 15.2758 17.8482 15.1197 17.9239 14.9369C17.9996 14.7542 18.0194 14.5532 17.9808 14.3592C17.9422 14.1652 17.847 13.987 17.7071 13.8472C17.5673 13.7073 17.3891 13.6121 17.1951 13.5735C17.0011 13.5349 16.8 13.5547 16.6173 13.6304C16.4346 13.7061 16.2784 13.8342 16.1685 13.9987C16.0586 14.1631 16 14.3565 16 14.5543C16 14.8195 16.1054 15.0738 16.2929 15.2614C16.4804 15.4489 16.7348 15.5543 17 15.5543ZM12 15.5543C12.1978 15.5543 12.3911 15.4956 12.5556 15.3857C12.72 15.2758 12.8482 15.1197 12.9239 14.9369C12.9996 14.7542 13.0194 14.5532 12.9808 14.3592C12.9422 14.1652 12.847 13.987 12.7071 13.8472C12.5673 13.7073 12.3891 13.6121 12.1951 13.5735C12.0011 13.5349 11.8 13.5547 11.6173 13.6304C11.4346 13.7061 11.2784 13.8342 11.1685 13.9987C11.0586 14.1631 11 14.3565 11 14.5543C11 14.8195 11.1054 15.0738 11.2929 15.2614C11.4804 15.4489 11.7348 15.5543 12 15.5543ZM19 3.55426H18V2.55426C18 2.28904 17.8946 2.03469 17.7071 1.84715C17.5196 1.65962 17.2652 1.55426 17 1.55426C16.7348 1.55426 16.4804 1.65962 16.2929 1.84715C16.1054 2.03469 16 2.28904 16 2.55426V3.55426H8V2.55426C8 2.28904 7.89464 2.03469 7.70711 1.84715C7.51957 1.65962 7.26522 1.55426 7 1.55426C6.73478 1.55426 6.48043 1.65962 6.29289 1.84715C6.10536 2.03469 6 2.28904 6 2.55426V3.55426H5C4.20435 3.55426 3.44129 3.87033 2.87868 4.43294C2.31607 4.99555 2 5.75861 2 6.55426V20.5543C2 21.3499 2.31607 22.113 2.87868 22.6756C3.44129 23.2382 4.20435 23.5543 5 23.5543H19C19.7956 23.5543 20.5587 23.2382 21.1213 22.6756C21.6839 22.113 22 21.3499 22 20.5543V6.55426C22 5.75861 21.6839 4.99555 21.1213 4.43294C20.5587 3.87033 19.7956 3.55426 19 3.55426ZM20 20.5543C20 20.8195 19.8946 21.0738 19.7071 21.2614C19.5196 21.4489 19.2652 21.5543 19 21.5543H5C4.73478 21.5543 4.48043 21.4489 4.29289 21.2614C4.10536 21.0738 4 20.8195 4 20.5543V11.5543H20V20.5543ZM20 9.55426H4V6.55426C4 6.28904 4.10536 6.03469 4.29289 5.84715C4.48043 5.65962 4.73478 5.55426 5 5.55426H6V6.55426C6 6.81948 6.10536 7.07383 6.29289 7.26137C6.48043 7.4489 6.73478 7.55426 7 7.55426C7.26522 7.55426 7.51957 7.4489 7.70711 7.26137C7.89464 7.07383 8 6.81948 8 6.55426V5.55426H16V6.55426C16 6.81948 16.1054 7.07383 16.2929 7.26137C16.4804 7.4489 16.7348 7.55426 17 7.55426C17.2652 7.55426 17.5196 7.4489 17.7071 7.26137C17.8946 7.07383 18 6.81948 18 6.55426V5.55426H19C19.2652 5.55426 19.5196 5.65962 19.7071 5.84715C19.8946 6.03469 20 6.28904 20 6.55426V9.55426ZM7 15.5543C7.19778 15.5543 7.39112 15.4956 7.55557 15.3857C7.72002 15.2758 7.84819 15.1197 7.92388 14.9369C7.99957 14.7542 8.01937 14.5532 7.98079 14.3592C7.9422 14.1652 7.84696 13.987 7.70711 13.8472C7.56725 13.7073 7.38907 13.6121 7.19509 13.5735C7.00111 13.5349 6.80004 13.5547 6.61732 13.6304C6.43459 13.7061 6.27841 13.8342 6.16853 13.9987C6.05865 14.1631 6 14.3565 6 14.5543C6 14.8195 6.10536 15.0738 6.29289 15.2614C6.48043 15.4489 6.73478 15.5543 7 15.5543ZM7 19.5543C7.19778 19.5543 7.39112 19.4956 7.55557 19.3857C7.72002 19.2758 7.84819 19.1197 7.92388 18.9369C7.99957 18.7542 8.01937 18.5532 7.98079 18.3592C7.9422 18.1652 7.84696 17.987 7.70711 17.8472C7.56725 17.7073 7.38907 17.6121 7.19509 17.5735C7.00111 17.5349 6.80004 17.5547 6.61732 17.6304C6.43459 17.7061 6.27841 17.8342 6.16853 17.9987C6.05865 18.1631 6 18.3565 6 18.5543C6 18.8195 6.10536 19.0738 6.29289 19.2614C6.48043 19.4489 6.73478 19.5543 7 19.5543Z"
              fill="#e39d22"></path>
          </svg>
          {news.date}
        </span>
      </div>
      <h3 class="cs-h3">{news.heading}</h3>
      <p class="cs-item-text">
        {news.text}
      </p>
      <div class="cs-bottom">
        <div class="cs-author-group">
          <picture class="cs-profile">
            <Image
              alt="people"
              src={news.authorImage.src}
              alt="profile"
              width="50"
              height="50"
              aria-hidden="true"
            />
          </picture>
          <span class="cs-name">{news.author}</span>
        </div>
        <picture class="cs-wrapper">
          <svg
            class="cs-arrow"
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.54 11.3443L9.87998 5.69427C9.78702 5.60054 9.67642 5.52614 9.55456 5.47538C9.4327 5.42461 9.30199 5.39847 9.16998 5.39847C9.03797 5.39847 8.90726 5.42461 8.78541 5.47538C8.66355 5.52614 8.55294 5.60054 8.45998 5.69427C8.27373 5.88163 8.16919 6.13508 8.16919 6.39927C8.16919 6.66345 8.27373 6.9169 8.45998 7.10427L13.41 12.1043L8.45998 17.0543C8.27373 17.2416 8.16919 17.4951 8.16919 17.7593C8.16919 18.0235 8.27373 18.2769 8.45998 18.4643C8.5526 18.5588 8.66304 18.6339 8.78492 18.6854C8.90679 18.7369 9.03767 18.7637 9.16998 18.7643C9.30229 18.7637 9.43317 18.7369 9.55505 18.6854C9.67692 18.6339 9.78737 18.5588 9.87998 18.4643L15.54 12.8143C15.6415 12.7206 15.7225 12.607 15.7779 12.4805C15.8333 12.354 15.8619 12.2174 15.8619 12.0793C15.8619 11.9412 15.8333 11.8046 15.7779 11.6781C15.7225 11.5516 15.6415 11.4379 15.54 11.3443V11.3443Z"
              fill="#767676"></path>
          </svg>
        </picture>
      </div>
    </div>
  </a>
</li>
